<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tech Blog</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="../dashboard">Dashboard</a></li>
          <li><a href="../signup">Sign Up</a></li>
          <li><a href="../login">Log In</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{body}}
    </main>
    <footer>
      <p>Only the best Tech Talks here!</p>
    </footer>
  </body>
</html>