{{> main}}
{{#content-for "scripts"}}
  <script src="/js/post.js"></script>
{{/content-for}}

{{#content-for "pageTitle"}}
  HomePage
{{/content-for}}

{{#content-for "body"}}
  <h1>Welcome to your Dashboard</h1>
  <div class="posts">
    <!-- Display user's posts here -->
  </div>
{{/content-for}}