<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Tech Talk</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          {{#if user}}
            <li class="nav-item">
              <a class="nav-link" href="dashboard.handlebars">Dashboard</a>
            </li>
            <li class="nav-item">
              <form method="POST" action="/logout">
                <button type="submit" class="btn btn-link nav-link">Logout</button>
              </form>
            </li>
          {{else}}
            <li class="nav-item">
              <a class="nav-link" href="login.handlebars">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="signup.handlebars">Sign Up</a>
            </li>
          {{/else}}
          {{/if}}
        </ul>
      </div>
    </nav>
    <div class="container">
      {{body}}
    </div>
    <script src="/public/js/comment.js"></script>
    <script src="/public/js/edit.js"></script>
    <script src="/public/js/logout.js"></script>
    <script src="/public/js/post.js"></script>
    <script src="/public/js/signup.js"></script>
  </body>
</html>