/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Declarations */
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Nav Menu */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 20px; 
  }
  nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
  }
  
  /* General login + signup form */
  form label {
    display: block;
    margin-bottom: 10px;
  }
  form input[type="text"],
  form input[type="username"],
  form input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  form input[type="submit"] {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  form input[type="submit"]:hover {
    background-color: black;
  }
